<!-- Friends Blog -->
<% if(config.friends) { %>
<h5>MINE</h5>
<ul class="list-inline">
    <% config.friends.forEach(function(friend, index){ %>
    <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
    <% if(index % 2 == 1){ %>
    <br />
    <% } %> <% }); %>
</ul>
<% }%>
